<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons end *ngIf="mediaProvider.loggedin">
      <button ion-button float-md-right="1px" (click)="goToUpload()">UpLoad</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let image of picArray | async">
      <ion-thumbnail item-start>
        <img [src]="url+(image.file_id | tnail | async)" [alt]="image.title">
      </ion-thumbnail>
      <h2>{{image.title}}</h2>
      <p>{{image.time_added | date :('dd.MM.yyyy')}}</p>
      <p>{{image.details}}</p>
      <button  ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>

</ion-content>
