<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons end *ngIf="mediaProvider.loggedin">
      <button ion-button float-md-right="1px"  (click)="goToUpload()">UpLoad</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let image of picArray | async">
      <ion-thumbnail item-start>
        <img *ngIf="image.media_type==='image'" [src]="url+(image.file_id | tnail | async)" [alt]="image.title">
        <audio *ngIf="image.media_type===audio" [src]="'http://via.placeholder.com/500x200/00?text=audio'" ></audio>
        <video *ngIf="image.media_type===video" [src]="'http://via.placeholder.com/500x200/00?text=Video'"></video>
      </ion-thumbnail>
      <h2>{{image.title}}</h2>
      <p>{{image.time_added | date :('dd.MM.yyyy')}}</p>
      <p>{{image.description }}</p>
      <button  ion-button  item-end (click)="goToPlayer(image.file_id)" >View</button>
    </ion-item>
  </ion-list>

</ion-content>
